In [1]:
import pandas as pd
from pyautomlib.preprocess import DataProcessor
from pyautomlib.config import PreprocessModel,RegressionModel
from pyautomlib.regression import Regression

In [2]:
df = pd.read_csv("datasets/srss.csv")
df.head()

    Mw     FaultType    Rjb    VS30  Period      SRSS
0  6.2  Yanal Atımlı  67.56  487.34    0.02  0.019096
1  6.2  Yanal Atımlı  67.56  487.34    0.04  0.019264
2  6.2  Yanal Atımlı  67.56  487.34    0.06  0.019521
3  6.2  Yanal Atımlı  67.56  487.34    0.08  0.023364
4  6.2  Yanal Atımlı  67.56  487.34    0.10  0.025503

In [3]:
df.replace("Ters Oblik Atımlı", "Ters", inplace=True)
df.replace("Ters Eğim Atımlı", "Ters", inplace=True)
df.replace("Yanal Atımlı", "Yanal", inplace=True)
df.replace("Normal Oblik Atımlı", "Normal", inplace=True)
df.replace("Normal Eğim Atımlı", "Normal", inplace=True)

In [4]:
pm = PreprocessModel()
dp = DataProcessor(df,pm,"SRSS")
df_processed = dp.process_data()
df_processed.head()

,Mw,Rjb,VS30,Period,SRSS,FaultType_Ters,FaultType_Yanal
0,1.121891,-0.103826,0.31277,-1.829484,1.311160,0,1
6,1.121891,-0.103826,0.31277,-1.786895,1.425756,0,1
14,1.121891,-0.103826,0.31277,-1.730109,1.443484,0,1
15,1.121891,-0.103826,0.31277,-1.723010,1.420921,0,1
18,1.121891,-0.103826,0.31277,-1.701715,1.469030,0,1

In [5]:
x_train, x_test, y_train, y_test = dp.split_data()

In [6]:
regressor = Regression(x_train,y_train,RegressionModel())
model = regressor.create_model()

Base Models....

In [ ]:
from sklearn.metrics import r2_score

y_predict = model.predict(x_test)
test_score = r2_score(y_test, y_predict)
print("test_score = ", test_score)

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(y_test, y_predict)
plt.plot([-1.7, 1.7], [-1.7, 1.7], color='red')
plt.xlabel("True Values")
plt.ylabel("Predictions")
plt.title("Spectral Acceleration")
plt.show()
plt.close()